<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
        <title>Socket-shooter | Profile</title>
        <link rel="stylesheet" href="../styles/profile.css">
</head>

<body class="bg-none">
    <header>
        <%- include('../partials/header'); %>
    </header>

    <div class="container">
        <div class="container-fluid">
            <div class="row">
                <div class="col ">

                    <div class="profile-card p-4 d-flex flex-column justify-content-center align-items-center">

                        <div class="mb-4">
                            <div class="section-title">Edit Profile</div>

                            <form id="editProfileForm">
                                <div class="text-center mb-4">
                                    <h4 class="fw-bold">@<%= user.username %>
                                    </h4>
                                </div>

                                <div class="mb-3">
                                    <input name='username' value="<%= user.username %>" class="form-control"
                                        placeholder="Username" id="username" />
                                </div>
                                <div class="mb-3">
                                    <input name='email' value="<%= user.email %>" class="form-control"
                                        placeholder="Email" id="email" />
                                </div>

                                <div class="mb-3">
                                    <input name='password' type="password" value="" class="form-control"
                                        placeholder="Password" />
                                </div>

                                <button type="submit" class="btn btn-primary w-100">
                                    Update my profile
                                </button>
                            </form>
                        </div>

                        <div class="text-center">
                            <button onClick="deleteAccount()" type="button" class="btn btn-outline-danger">
                                Deactivate My Account
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../service/profile.js"></script>

    <%- include('../partials/footer'); %>
</body>

</html>